<template>
  <div v-if="currentBackpack" class="bp-backpack-page-wrapper">
    <BackpackInfoSection />
    <AddItemSection
      v-if="viewingAsOwner"
    />
    <BackpackItems
    :renderButtons="viewingAsOwner"
      @delete-item="deleteItem"
      @cross-item="toggleItemInCurrentBackpack"
      :items="currentBackpack.items"
    />
  </div>
</template>

<script>
import BackpackItems from "@/components/BackpackItems";
import BackpackInfoSection from "@/components/BackpackInfoSection";
import AddItemSection from "@/components/AddItemSection";
import { mapGetters, mapActions, mapMutations } from "vuex";
import { auth } from "@/firebase";

export default {
  components: { BackpackItems, BackpackInfoSection, AddItemSection },
  data() {
    return {
      auth,
    };
  },
  async mounted() {
    await this.fetchBackpack(this.$route.params.id);
  },
  computed: {
    ...mapGetters("backpacks", ["currentBackpack"]),
    viewingAsOwner(){
      return this.auth.currentUser && this.currentBackpack.creatorId === this.auth.currentUser.uid
    }
  },
  methods: {
    ...mapMutations("backpacks", [
      "toggleItemInCurrentBackpack",
      "deleteItemFromCurrentBackpack",
    ]),
    ...mapActions("backpacks", ["fetchBackpack"]),

    deleteItem(itemId) {
      this.deleteItemFromCurrentBackpack(itemId);
    },
  },
};
</script>

<style>
.bp-backpack-page-wrapper {
  margin: 50px;
}
</style>