<template>
  <div>
    <div v-if="!currentItem" class="lds-dual-ring"></div>
    <div v-if="currentItem && currentItem.status === 'success'">
      <div class="hn-story-title">{{ currentItem.title }} by {{currentItem.by}}</div>
      <hr />
      <div v-if="currentItem.kids" class="hn-post-comments-section-wrapper">
        <Comment v-for="kid in currentItem.kids" :key="kid" :commentId="kid"/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
import Comment from "@/components/Comment";

export default {
  name: "StoryPage",
  components: {
    Comment,
  },
  computed: {
    ...mapGetters(["getItemById", "itemStatus"]),
    currentItem() {
      return this.getItemById(this.$route.params.id);
    },
  },
  methods: {
    ...mapActions(["fetchStory"]),
    ...mapMutations(["changeStatus"]),
  },
  async mounted() {
    await this.fetchStory(this.$route.params.id);
  }
};
</script>

<style>
.hn-story-title{
  font-size: 32px;
    font-weight: 500;
}
.hn-post-comments-section-wrapper{
  margin:10px;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>