<template>
  <div class="hn-post-page">
      <PostComponent v-for="post in allTopStories" :key="post.id" :post="post" />
  </div>
</template>
<script>
import {mapGetters,mapActions} from 'vuex';
import PostComponent from "@/components/PostComponent";
export default {
  name: "PostPage",
  components: {
    PostComponent,
  },
  computed: mapGetters(["allTopStories"]),
  methods:  mapActions(["fetchTopStories"]),
  async mounted() {
    this.fetchTopStories();
  },
};
</script>
<style scoped>
.hn-post-page {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(246, 246, 239);
  margin: 20px;
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}
</style>