<template>
<div>
  <div class="hn-hnya-page-wrapper">
    <div class="hn-hnya-links">
    <router-link to="/hnya/likes">Likes</router-link>
    <router-link to="/hnya/reposts">Reposts</router-link>
    </div>
    <router-view></router-view>
  </div>
</div>
</template>

<script>
// import { mapActions, mapGetters } from "vuex";
export default {
  // computed: { ...mapGetters("hnya", ["userLikedItems", "userRepostedItems"]) },
  // methods: { ...mapActions("hnya", ["fetchLikedItems", "fetchRepostedItems"]) },
  // async mounted() {
  //   await this.fetchLikedItems();
  //   await this.fetchRepostedItems();
  // },
};
</script>

<style>
.hn-hnya-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hn-hnya-page-wrapper{
  width:60%;
}
.router-link-active{
  color:chocolate
}
</style>