<template>
  <div class="item-section-wrapper" data-test-add-item-section>
    <input
      type="text"
      v-model.trim="itemName"
      data-test="add-new-item-input"
      placeholder="Type item name here"
    />
    <button
      @click="addItem"
      :disabled="addItemDisabled"
      class="bp-addition-button"
      data-test="add-new-item-button"
    >
      Add item
    </button>
    <button
      @click="updateBackpack"
      :disabled="savingInProgress"
       class="bp-addition-button"
      data-test="save-backpack-button"
    >
      <span v-if="!savingInProgress"> Save backpack</span>
      <span v-else class="loader"> Saving now... </span>
    </button>
  </div>
</template>

<script>
import { mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      itemName: "",
      savingInProgress: false,
    };
  },
  computed: {
    addItemDisabled() {
      return this.itemName.trim().length === 0;
    },
  },
  methods: {
    ...mapMutations("backpacks", ["addItemForCurrentBackpack"]),
    ...mapActions("backpacks", ["updateCurrentBackpack", "fetchBackpack"]),
    addItem() {
      this.addItemForCurrentBackpack({
        itemName: this.itemName,
      });
      this.itemName = "";
    },
    async updateBackpack() {
      try {
        this.savingInProgress = true;
        await this.updateCurrentBackpack();
        await this.fetchBackpack(this.$route.params.id);
      } catch (err) {
        console.log(err);
      } finally {
        this.savingInProgress = false;
      }
    },
  },
};
</script>

<style scoped>
.item-section-wrapper {
  margin: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 1em;
  justify-content: center;
}
.bp-addition-button {
  background-color: palevioletred;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 50px;
}
.bp-addition-button:hover {
  background-color: lightcoral;
  cursor: pointer;
}
.bp-addition-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

</style>