<template>
  <div class="bp-backpack">
    <div class="bp-backpack__meta">
      <div
        :data-test-backpack-id="`${backpack.id}`"
        class="bp-backpack__meta__id"
      >
        #{{ backpack.id }}
      </div>
      <div
        :data-test-backpack-creator="`${backpack.id}`"
        class="bp-backpack__meta__creator"
      >
        Made by {{ backpack.creatorName }}
      </div>
      <div
        :data-test-all-backpacks="`${backpack.creatorId}`"
        class="bp-backpack__meta__link-to-all"
      >
        See their backpacks <font-awesome-icon icon="chevron-right" />
      </div>
    </div>
    <div class="bp-backpack__info">
      <div
        :data-test-backpack-rating-number="backpack.id"
        class="bp-backpack__info__rating"
      >
        {{ backpackRating ?backpackRating :'Not rated yet' }}
      </div>
      <div
        :data-test-backpack-title="`${backpack.id}`"
        class="bp-backpack__info__title"
      >
        {{ backpack.title }}
      </div>
      <div
        :data-test-backpack-description="`${backpack.id}`"
        class="bp-backpack__info__description"
      >
        {{ backpack.description }}
      </div>
      <router-link
        v-if="auth.currentUser && backpack.creatorId === auth.currentUser.uid"
        :data-test-backpack-link="`${backpack.id}`"
        class="bp-backpack__info__backpack-button"
        :to="{ name: `backpack`, params: { id: backpack.id } }"
      >
        EDIT ME
      </router-link>
      <router-link
        v-else-if="auth.currentUser && auth.currentUser.uid"
        :data-test-backpack-link="`${backpack.id}`"
        class="bp-backpack__info__backpack-button"
        :to="{ name: `backpack`, params: { id: backpack.id } }"
      >
        OPEN ME
      </router-link>
      <router-link
        v-else
        :data-test-login-backpack-link="`${backpack.id}`"
        class="bp-backpack__info__backpack-button"
        :to="{ name: `backpack`, params: { id: backpack.id } }"
      >
        Login to see items
      </router-link>
    </div>
  </div>
</template>

<script>
import { auth } from "@/firebase";
import ratingCalculator from "@/utils/ratingCalculator";
export default {
  data() {
    return {
      auth,
    };
  },
  computed: {
    backpackRating() {
      return ratingCalculator(this.backpack.ratings);
    },
  },
  props: {
    backpack: Object,
  },
};
</script>

<style scoped>

.bp-backpack__info {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.bp-backpack__info__title {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 5;
}
.bp-backpack__info__description {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}
.bp-backpack__info__backpack-button {
  margin: 10px;
  text-decoration: none;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: white;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: palevioletred;
  font-size: 16px;
  padding: 12px 25px;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}
.bp-backpack__info__backpack-button:hover {
  color: #fff;
  background-color: palevioletred;
}
.bp-backpack__meta__id,
.bp-backpack__meta__link-to-all {
  opacity: 0.6;
}
.bp-backpack__meta {
  background-color: palevioletred;
  color: white;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.bp-backpacks-list__wrapper{
  width:100%;
}
.bp-backpack {
  background-color: rgb(246, 246, 239);
  overflow: hidden;
  min-height: 200px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .bp-backpack {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns :auto;
  }
  .bp-backpack__info__rating{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .bp-backpack__info__backpack-button{
  grid-column-start: 3;
  }
  
}
</style>