<template>
  <div class="bp-backpack-items-wrapper">
    <div v-for="item in items" :key="item.id" class="item">
      <div class="item__name">
        <h3
          :class="{ 'crossed-out-item': item.crossed }"
          data-test="item-title"
        >
          {{ item.title }}
        </h3>
      </div>
      <button
        v-if="renderButtons"
        class="bp-button bp-button--delete item__button"
        :data-test-delete-button="`${item.id}`"
        @click.once="$emit('delete-item', item.id)"
      >
        Delete item
      </button>
      <button
        v-if="renderButtons"
        class="bp-button bp-button--cross item__button"
        :data-test-cross-button="`${item.id}`"
        @click="$emit('cross-item', item.id)"
      >
        Cross item
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    renderButtons: Boolean,
    items: Array,
    deleteItem: Function,
  },
};
</script>

<style scoped>
.item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}
.item__name {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
.item__button {
  grid-row-start: 2;
}
.bp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 30px;
}
.bp-button:hover {
  cursor: pointer;
}
.bp-button--delete {
  background-color: palevioletred;
  color: white;
}
.bp-button--delete:hover {
  background-color: coral;
  color: white;
}
.bp-button--cross {
  background-color: white;
  color: palevioletred;
}
.bp-button--cross:hover {
  background-color: coral;
  color: white;
}
.bp-backpack-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}
@media (max-width: 768px) {
  .bp-backpack-items-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
.crossed-out-item {
  text-decoration: line-through;
}
</style>