<template>
  <div data-test-backpack-info-section-wrapper >
    <div data-test-set-rating-section>
      <div data-test="actual-score">This backpack has {{ backpackRating }} stars</div>
      <div data-test-rating-wrapper>
        <Rating
        data-test-rating
          v-if="
            auth.currentUser &&
            currentBackpack.creatorId !== auth.currentUser.uid
          "
          :maxStars="5"
          :initialRating="currentBackpack.ratings && currentBackpack.ratings[auth.currentUser.uid] || 0"
          @rate-backpack="rate"
        />
      </div>
    </div>
    <div
      v-if="
        auth.currentUser && currentBackpack.creatorId !== auth.currentUser.uid
      "
      data-test-info-section-non-owner
    >
      <div>{{ backpackTitle }}</div>
      <div>{{ backpackDescription }}</div>
      <div>{{ backpackOccasion }}</div>
    </div>
    <div v-else data-test-info-section-owner class="form-wrapper--owner">
      <div class="form__row ">
        <label for="email1">Title</label>
        <input
          data-test="backpack-title"
          class="bp-backpack__title-input"
          type="text"
          v-model.trim="backpackTitle"
        />
      </div>
      <div class="form__row">
        <label for="email1">Description</label>
        <input
          data-test="backpack-description"
          class="bp-backpack__description-input"
          type="text"
          v-model.trim="backpackDescription"
        />
      </div>
      <div class="form__row ">
        <label for="email1">Occasion</label>
        <input
          data-test="backpack-occasion"
          class="bp-backpack__occasion-input"
          type="text"
          v-model.trim="backpackOccasion"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters,mapMutations, mapActions } from "vuex";
import ratingCalculator from "../utils/ratingCalculator";
import Rating from "./Rating";
import { auth } from "../firebase";
export default {
  data() {
    return {
      auth: auth || {},
    };
  },
  components: {
    Rating,
  },
  methods: {
    ...mapActions("backpacks", ["rateBackpack"]),
    ...mapMutations("backpacks", ["setDescription", "setOccasion", "setTitle"]),
    async rate(rate) {
      await this.rateBackpack({ id: this.currentBackpack.id, rate });
    },
  },
  computed: {
    ...mapGetters("backpacks", ["currentBackpack"]),
    backpackRating() {
      return ratingCalculator(this.currentBackpack.ratings);
    },
    backpackTitle: {
      get() {
        return this.currentBackpack.title;
      },
      set(value) {
        this.setTitle(value);
      },
    },
    backpackDescription: {
      get() {
        return this.currentBackpack.description;
      },
      set(value) {
        this.setDescription(value);
      },
    },
    backpackOccasion: {
      get() {
        return this.currentBackpack.occasion;
      },
      set(value) {
        this.setOccasion(value);
      },
    },
  },
};
</script>

<style scoped>
.form-wrapper--owner{
  display:grid;
  grid-row-gap:1em;
}
.form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  align-items: center;
}
</style>