<template>
  <div
    class="hn-comment-outer"
    v-if="currentComment && currentComment.status === 'success'"
  >
    <div class="hn-comment-inner">
      <CommentComponent :comment="currentComment" />
      <div class="hn-comment-actions-wrapper">
        <button v-if="userLikedItemsIds.includes(currentComment.id)" @click="unlikeItem(currentComment.id)" class="hn-comment-button hn-comment-like">Remove Like</button>
        <button v-else @click="likeItem({itemId:currentComment.id,text:currentComment.text, type:'comment'})" class="hn-comment-button hn-comment-like">Like</button>
        <button id="myButton"
          @click="toggleDiscussionSection"
          class="hn-comment-button hn-discussion-button"
          :disabled="!!discussionDisabled"
        >
          {{ viewingDiscussion ? "Hide" : "Show" }} discussion
        </button>
      </div>
    </div>
      <div v-if="viewingDiscussion" class="hn-comment-discussion">
        <Comment
          v-for="kid in currentComment.kids"
          :key="kid"
          :commentId="kid"
        />
    </div>
  </div>
  <div v-else class="lds-dual-ring"></div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Comment from "./Comment";
import CommentComponent from "./CommentComponent";
export default {
  name: "Comment",
  components: {
    CommentComponent,
    Comment,
  },
  props: {
    commentId: Number,
  },
  data() {
    return {
      viewingDiscussion: false
    };
  },
  computed: {
    ...mapGetters(["getItemById"]),
    ...mapGetters('hnya',["userLikedItemsIds"]),
    currentComment() {
      return this.getItemById(this.commentId);
    },
    discussionDisabled() {
      return !(
        this.currentComment &&
        this.currentComment.kids &&
        this.currentComment.kids.length > 0
      );
    },
  },
  methods: {
    ...mapActions(["fetchStory"]),
    ...mapActions("hnya",['likeItem','unlikeItem']),
    toggleDiscussionSection() {
      this.viewingDiscussion = !this.viewingDiscussion;
    },
  },
  async mounted() {

    this.fetchStory(this.commentId);
  },
};
</script>

<style scoped>
.hn-comment-outer{
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}
.hn-comment-inner{
  display: grid;
    grid-template-columns: 5fr 1fr;
}

.hn-comment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: burlywood;
  border: 2px solid coral;
  width: 200px;
  height: 50px;
  margin: 5px;
}
.hn-comment-button:hover {
  background: orange;
  cursor: pointer;
}
.hn-comment-button:disabled {
  background: grey;
  cursor: pointer;
}
.hn-comment-inner-wrapper {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.hn-comment-actions-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
}
.hn-comment-wrapper {
  border: 2px solid black;
  margin: 20px;
}
.hn-comment-discussion {
  margin-left: 20px;
  display:flex;
  flex-direction: column;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>