<template>
  <div v-if="comment">
    <div class="hn-comment-meta">{{ comment.by }} {{ comment.time }}</div>
    <div v-html="comment.text" class="hm-comment-text"></div>
  </div>
</template>

<script>
export default {
  name: "CommentComponent",
  props: {
    comment: Object,
  },
};
</script>

<style scoped>
.hm-comment-text {
  text-align: left;
}
.hn-comment-meta {
  text-align: left;
  color: gray;
  font-size: 8pt;
}
</style>