<template>
  <footer class="hn-footer">
    illustrations by https://illlustrations.co/
  </footer>
</template>

<script>
export default {

}
</script>

<style>
.hn-footer{
  flex-shrink: 0;
}
</style>