<template>
  <header
    v-if="auth.currentUser"
    class="hn-header hn-header--login"
    :class="{ 'hn-header-main-page': viewingMainPage }"
    data-test-user-header
  >
    <Slide v-if="isMobile">
      <router-link data-test-main-page-link class="hn-header-link hn-slider-link" to="/"
        >Main page</router-link
      >
      <router-link
        data-test-all-backpacks-link
        class="hn-header-link hn-slider-link"
        to="/all-backpacks"
      >
        All backpacks
      </router-link>
      <router-link
        data-test-my-backpacks-link
        class="hn-header-link hn-slider-link"
        to="/my-backpacks"
        >My Backpacks</router-link
      >
    </Slide>
    <div class="hn-header-left" v-else>
      <router-link data-test-main-page-link class="hn-header-link" to="/"
        >Main page</router-link
      >
      <router-link
        data-test-all-backpacks-link
        class="hn-header-link"
        to="/all-backpacks"
      >
        All backpacks
      </router-link>
      <router-link
        data-test-my-backpacks-link
        class="hn-header-link"
        to="/my-backpacks"
        >My Backpacks</router-link
      >
    </div>
    <div class="hn-header-right">
      <div data-test-header-rating>{{ userProfile.rating }}</div>
      <div data-test-header-username>{{ userProfile.name }}</div>
      <div
        data-test-logout-button
        class="hn-header-link hn-login-link"
        @click="logoutUser()"
      >
        Logout
      </div>
    </div>
  </header>
  <header
    v-else
    class="hn-header"
    :class="{ 'hn-header-main-page': viewingMainPage, 'hn-header--logout-mobile':isMobile }"
    data-test-stranger-header
  >
    <div class="hn-header-left">
      <router-link data-test-main-page-link class="hn-header-link" to="/"
        >Main page</router-link
      >
      <router-link
        data-test-all-backpacks-link
        class="hn-header-link"
        to="/all-backpacks"
      >
        All backpacks
      </router-link>
    </div>
    <div class="hn-header-right">
      <router-link
        data-test-login-link
        class="hn-header-link hn-login-link"
        to="/login"
      >
        Login
      </router-link>
    </div>
  </header>
</template>

<script>
import { Slide } from "vue-burger-menu";
import { mapActions, mapGetters } from "vuex";
import { auth } from '../firebase'
export default {
  data(){
    return {
      auth,
      isMobile: false
    }
  },
  mounted() {
    this.onResize();
    window.addEventListener("resize", this.onResize, { passive: true });
  },
  components: {
    Slide,
  },
  computed: {
    ...mapGetters("auth", ["userProfile"]),

    viewingMainPage() {
      return this.$route.fullPath === "/";
    },
  },
  methods: {
    onResize() {
      this.isMobile = window.innerWidth < 768;
    },
    ...mapActions("auth", ["logoutUser"]),

  },
};
</script>

<style scoped>

.hn-header-link {
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.hn-slider-link{
  color:white;
}
.hn-header-link:hover {
  opacity: 0.5;
  background-color: black;
  color: white;
}
.hn-login-link {
  cursor: pointer;
}
.hn-logout-button {
  grid-column-start: 2;
  background: coral;
}
.hn-header-left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.hn-header-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.hn-header {
  flex-shrink: 0;
  height: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: palevioletred;
}
@media (max-width:768px) {
  .hn-header--login{
    height: 100px;
     grid-template-columns: 1fr 3fr;
  }
  .hn-header--logout-mobile {
    height: 100px;
    grid-template-columns: 3fr 1fr;
  }
}
.hn-header-main-page {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/mountains.jpg");
}
</style>