<template>
  <form class="form-wrapper" @submit.prevent>
    <div>Welcome Back</div>
    <div class="form__row">
      <label for="email1">Email</label>
      <input
        data-test-login-email-input
        v-model.trim="email"
        type="text"
        placeholder="you@email.com"
        id="email1"
      />
    </div>
    <div class="form__row">
      <label for="password1">Password</label>
      <input
        data-test-login-password-input
        v-model.trim="password"
        type="password"
        placeholder="******"
        id="password1"
      />
    </div>
    <div class="form__row form__button-group">
      <button
        data-test-redirect-signin-button
        @click="$emit('show-registration-form')"
        class="bp-button"
      >
        Create an Account
      </button>
      <button
        data-test-login-button
        @click="login({ email, password })"
        class="bp-button"
      >
        Log In
      </button>
    </div>
  </form>
</template>

<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions("auth", ["login"]),
  },
  data() {
    return {
      email: "",
      password: "",
    };
  },
  beforeDestroy() {
    this.email = "";
    this.password = "";
  },
};
</script>

<style scoped>
.form-wrapper {
  grid-gap: 1em;
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  align-items: center;
}
.bp-button {
  background-color: palevioletred;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height:50px;
}
.bp-button:hover{
  background-color: lightcoral;
  cursor: pointer;
}

</style>