<template>
  <div class="hn-post">
    <div class="hn-post-title">
      <!-- <img class="hn-post-pic" :src="require(`@/assets/${imageSrc}`)" /> -->
      <div>
        <router-link
          class="hn-title-link"
          :to="{ name: `story`, params: { id: post.id } }"
          >{{ post.title }}</router-link>
        <a :href="post.url" class="hn-post-link">({{ post.url }})</a>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="none">
        <polygon fill="rgb(246, 246, 239)" points="0,50 50,30 50,50"/>
      </svg>
    </div>
    <div class="hn-post-actions">
      <div class="hn-post-by">{{ post.score }} by {{ post.by }}</div>
      <div v-on:click="toggleCommentSection" class="hn-button">
        View comments
      </div>
      <div v-if="userRepostedItemsIds.includes(post.id)"  @click="unrepostItem(post.id)" class="hn-button">Un Repost</div>
      <div v-else @click="repostItem({itemId: post.id, title: post.title, type:'post'})" class="hn-button">Repost</div>
    </div>
    <modal
      class="scrollme"
      height="auto"
      draggable=".kek"
      :scrollable="true"
      :name="`comments${post.id}`"
    >
      <div class="hn-comments-modal">
        <div v-if="loadingComments">loading....</div>
        <CommentComponent
          v-else
          v-for="comment in comments"
          :key="comment.id"
          :comment="comment"
        />
        <router-link
          tag="div"
          class="hn-button"
          :to="{ name: `story`, params: { id: post.id } }"
          >Go to post page</router-link>
      </div>
    </modal>
  </div>
</template>

<script>
import axios from "axios";
import CommentComponent from "@/components/CommentComponent";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "PostComponent",
  components: { CommentComponent },
  data: function () {
    const picNames = [
      "day37-calculator.png",
      "day38-macintosh.png",
      "day39-pc.png",
      "day40-powerbook-100.png",
      "day41-desktop.png",
      "day42-imac.png",
      "day43-ram.png",
      "day44-hdd.png",
      "day45-gpu-ati.png",
    ];
    return {
      imageSrc: picNames[Math.floor(Math.random() * picNames.length)],
      comments: [],
      showComments: false,
      loadingComments: false,
    };
  },
  props: {
    post: Object,
  },
  computed:{
    ...mapGetters('hnya',["userRepostedItemsIds"])
  },
  methods: {
     ...mapActions("hnya",['repostItem','unrepostItem']),
    downloadComments: function () {
      this.comments = [];
      const commentsToDownload = this.post.kids.slice(0,3);
      return Promise.all(
        commentsToDownload.map((id) =>
          axios.get(`https://hacker-news.firebaseio.com/v0/item/${id}.json`)
        )
      ).then((response) => {
        this.comments = response.map((i) => i.data);
        this.loadingComments = false;
      });
    },
    toggleCommentSection: function () {
      this.$modal.show(`comments${this.post.id}`);
      this.loadingComments = true;
      // this.showComments = !this.showComments;
      if (this.comments.length === 0) {
        this.downloadComments();
      }
    },
  },
};
</script>

<style scoped>
.hn-comments-modal {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hn-post-pic {
  width: 200px;
  height: auto;
  border-radius: 40px;
}
.hn-post-title {
  background-image: linear-gradient(#ff9d2f, #ff6126);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.hn-post {
  color: #1d1b38;
  border: 2px solid cornflowerblue;
  min-height: 100px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  border-radius: 10px;
  height: 100%;
      overflow: hidden;
      margin:10px;
}
.hn-post-by {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hn-title-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hn-post-actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
}
.hn-post-like {
  background: #e79cc2;
}
.hn-post-repost {
  background: #f6bed6;
}
.hn-button {
  background: #FBCEB1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 2 px;
}
.hn-button:hover {
  background: #FDBCB4;
}
.hn-post-view-comments-button {
  background: #336d88;
  border-radius: 2px;
  cursor: pointer;
}
.hn-post-view-comments-button:hover {
  background: #30637a;
}

.hn-post-link {
  color: #828282;
  text-decoration: none;
  font-size: 8pt;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hn-post-link:hover {
  text-decoration: underline;
}
svg {
  bottom: 0;
  width: 100%;
  height: 3vw;
  /* set height to pixels if you want angle to change with screen width */
}
</style>