<template>
  <div class="bp-rating-wrapper">
    <Star
      @set-rating="rate"
      v-for="star in maxStars"
      :key="star"
      :starId="star"
      :rating="rating"
    />
  </div>
</template>

<script>
import Star from "./Star";
export default {
  components: { Star },
  props: {
    maxStars: Number,
    initialRating: Number,
  },
  data() {
    return {
      rating: this.initialRating,
    };
  },
  methods: {
    async rate(starId) {
      this.rating = this.rating === starId ? this.rating - 1 : starId;
      await this.$emit('rate-backpack',this.rating);
    },
  },
};
</script>

<style scoped>
.bp-rating-wrapper {
  padding: 50px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>