<template>
  <form class="form-wrapper" @submit.prevent>
    <div>Get Started</div>
    <div class="form__row">
      <label for="name">Name</label>
      <input
        v-model.trim="signupForm.name"
        type="text"
        placeholder="Savvy Apps"
        id="name"
      />
    </div>
    <div class="form__row">
      <label for="title">Title</label>
      <input
        v-model.trim="signupForm.title"
        type="text"
        placeholder="Company"
        id="title"
      />
    </div>
    <div class="form__row">
      <label for="email2">Email</label>
      <input
        v-model.trim="signupForm.email"
        type="text"
        placeholder="you@email.com"
        id="email2"
      />
    </div>
    <div class="form__row">
      <label for="password2">Password</label>
      <input
        v-model.trim="signupForm.password"
        type="password"
        placeholder="min 6 characters"
        id="password2"
      />
    </div>
    <div class="form__row form__button-group">
      <button @click="$emit('show-login-form')" class="bp-button">
        Back to Log In
      </button>
      <button @click="signup(signupForm)" class="bp-button">Sign Up</button>
    </div>
  </form>
</template>

<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions('auth',["signup"]),
  },
  data() {
    return {
      signupForm: {
        name: "",
        title: "",
        email: "",
        password: "",
      },
    };
  },
};
</script>

<style scoped>
.form-wrapper {
  grid-gap: 1em;
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.form__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  align-items: center;
}
.bp-button {
  background-color: palevioletred;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 50px;
}
.bp-button:hover {
  background-color: lightcoral;
  cursor: pointer;
}
</style>