<template>
  <font-awesome-icon
    :data-test-star-rating="`${starId}`"
    @click="$emit('set-rating', starId)"
    class="star"
    :class="{ 'star-active': isActive }"
    @mouseover="hovered = true"
    @mouseout="hovered = false"
    size="2x"
    :icon="[starId <= rating ? 'fas' : 'far', 'star']"
  />
</template>

<script>
export default {
  props: {
    starId: Number,
    rating: Number,
  },
  computed: {
    isActive() {
      return this.starId <= this.rating;
    },
  },
  data() {
    return {
      hovered: false,
    };
  },
};
</script>

<style scoped>
.star {
  color: #b7b7b7;
  transition: all 0.5s ease-in-out;
}
.star-active {
  color: #ffe100;
}
.star:hover {
  color: #ffe100;
  cursor: pointer;
}
</style>