<template>
  <div>
    <div class="all-backpacks-page-wrapper">
      <BackpackCard
        :data-test-backpack="`${backpack.id}`"
        v-for="backpack in allBackpacks"
        :key="backpack.id"
        :backpack="backpack"
      />
    </div>
  </div>
</template>

<script>
import BackpackCard from "../../components/BackpackCard";
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters("backpacks", ["allBackpacks"]),
  },
  methods: {
    ...mapActions("backpacks", ["fetchAllBackpacks"]),
  },
  components: { BackpackCard },
  async mounted() {
    await this.fetchAllBackpacks();
  },
};
</script>

<style scoped>
.all-backpacks-page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 200px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .all-backpacks-page-wrapper {
    margin: 50px;
  }
}
</style>