<template>
  <div class="bp-login-page-wrapper" id="login">
        <LoginForm
          v-if="showingLoginForm"
          @show-registration-form="
            showingLoginForm = !showingLoginForm
          "
        />
        <RegistrationForm
          v-else
          @show-login-form="showingLoginForm = !showingLoginForm"
        />
  </div>
</template>

<script>
import LoginForm from "../../components/LoginForm.vue";
import RegistrationForm from "../../components/RegistrationForm.vue";
export default {
  components: {
    LoginForm,
    RegistrationForm,
  },
  data() {
    return {
      showingLoginForm: true,
    };
  },
};
</script>
<style scoped>
.bp-login-page-wrapper {
  margin:50px;
}
</style>