<template>
  <div>
    <div class="my-backpacks-page-wrapper">
      <div v-if="additionMode" class="bp-addition-mode-wrapper">
        <input
          data-test-backpack-name-input
          v-model.trim="backpackName"
          type="text"
          placeholder="Backpack name"
        />
        <button
          class="bp-addition-button"
          @click="addNewBackpack(backpackName)"
          data-test-create-backpack-button
        >
          Create new backpack
        </button>
        <button
          class="bp-addition-button"
          @click="additionMode = !additionMode"
          data-test-create-backpack-button
        >
          Cancel
        </button>
      </div>
      <div
        v-else
        class="bp-addition-button bp-add-backpack"
        @click="additionMode = !additionMode"
        data-test-add-backpack-toggler
      >
        Add backpack
      </div>
      <div
        data-test="backpacks-list-wrapper"
        class="bp-backpacks-list__wrapper"
      >
        <BackpackCard
          :data-test-backpack="`${backpack.id}`"
          v-for="backpack in usersBackpacks"
          :key="backpack.id"
          :backpack="backpack"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { auth } from "../../firebase";
import { mapActions, mapGetters } from "vuex";
import BackpackCard from "@/components/BackpackCard";
export default {
  components: { BackpackCard },
  data() {
    return {
      additionMode: false,
      backpackName: "",
    };
  },
  computed: {
    ...mapGetters("backpacks", ["usersBackpacks"]),
    ...mapGetters("auth", ["userProfile"]),
  },
  methods: {
    ...mapActions("backpacks", ["addNewBackpack", "fetchUsersBackpacks"]),
  },
  async mounted() {
    await this.fetchUsersBackpacks(auth.currentUser.uid);
  },
  beforeDestroy() {
    this.additionMode = false;
    this.backpackName = "";
  },
};
</script>

<style scoped>
.my-backpacks-page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 200px;
  align-items: center;
  justify-content: center;
}
.bp-addition-button {
  background-color: palevioletred;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-height: 50px;
}
.bp-add-backpack {
  margin: 50px;
  min-height: 100px;
  width: 50%;
  min-width: 200px;
}
.bp-addition-button:hover {
  background-color: lightcoral;
  cursor: pointer;
}
.bp-addition-mode-wrapper {
  margin: 50px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 1em;
  min-height: 100px;
}
[data-test-backpack-name-input] {
  font-size: 20px;
}

@media (min-width: 768px) {
  .bp-addition-mode-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-column-gap: 3em;
  }

  [data-test-backpack-name-input] {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .my-backpacks-page-wrapper {
    margin: 50px;
  }
}
</style>