<template>
  <div>
      <div v-for="item in userRepostedItems" :key="item.itemId">
          <router-link
          tag="div"
          class="hn-title-link"
          :to="{ name: `story`, params: { id: item.itemId } }"
          >Go to post page {{item.title}}</router-link>
      </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: { ...mapGetters("hnya", ["userRepostedItems"]) },
  methods: { ...mapActions("hnya", ["fetchRepostedItems"]) },
  async mounted() {
    await this.fetchRepostedItems();
  }
};
</script>

<style>
.hn-title-link{
  cursor:pointer;
  margin:20px;
}
</style>