<template>
  <div>
      <div class="hn-hnya-liked-comment" v-for="item in userLikedItems" :key="item.itemId">
        <div v-html="item.text"></div>
        <div @click="goToParentPost(item.itemId)" >Go to original post</div>
      </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: { ...mapGetters("hnya", ["userLikedItems"]) },
  methods: { ...mapActions("hnya", ["fetchLikedItems"]),...mapActions(["goToParentPost"])  },
  async mounted() {
    await this.fetchLikedItems();
  }
};
</script>

<style>
.hn-hnya-liked-comment {
  border:1px solid black;
  margin:10px;
}
</style>