<template>
  <div id="app">
    <Header/>
    <router-view class="hn-page-wrapper" />
    <!-- <Footer/> -->
  </div>
</template>

<script>
// import Footer from "./components/Footer";
import Header from "./components/Header";
export default {
  name: "App",
  components: { Header },
};
</script>

<style>
@import url(https://fonts.googleapis.com/css?family=Inter);
html{
  height:100%;
}
body {
  background: #efebd8;
  margin: 0px;
  height: 100%;
}

.hn-page-wrapper{
   flex: 1 0 auto;
   /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    justify-content: center;
     height:100%;
}
#app {
  height:100%;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
</style>
