<template>
  <div class="parallax-wrapper">
    <div class="parallax parallax-mountain">
      <div class="first-quote">
        <div>"You miss 100% of the shots you don't take. - Wayne Gretzky"</div>
        <div>- Michael Scott</div>
      </div>
      <!-- <Rating :maxStars="5" :initialRating="3"/> -->
      <!-- <img class="hn-dog-pic" src="@/assets/day67-dog.png" /> -->
    </div>
    <div class="inspirational-quote">
      <div
        class="quote-2-part-1"
        data-aos="fade-right"
        data-aos-duration="3000"
      >
        <div>Would I rather be feared or loved?</div>
      </div>
      <div
        class="quote-2-part-2"
        data-aos="fade-left"
        data-aos-duration="3000"
        data-aos-delay="500"
      >
        Easy, both.
      </div>
      <div
        class="quote-2-part-3"
        data-aos="fade-left"
        data-aos-duration="3000"
        data-aos-delay="500"
      >
        I want people to be afraid of how much they love me.
      </div>
    </div>
    <div class="parallax parallax-sea-beach">
      <div class="last-quote">"Never, ever, ever, give up" - Michael Scott</div>
    </div>
    <div class="faggio-wrapper">
      <router-link
        data-test-backpacking-link
        class="hn-backpacking-link"
        to="/all-backpacks"
      >
        Let's roll
      </router-link>
      <div>
      <img
        data-aos="fade-right"
        data-aos-duration="3000"
        src="../../assets/delivery.png"
        class="faggio-man"
      />
      </div>
    </div>
  </div>
</template>

<script>
// import Rating from '@/components/Rating';
export default {};
</script>

<style>
.faggio-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin:50px;
  height:100%;
}
.hn-backpacking-link {
  font-size: 40px;
  display: flex;
  align-items: center;
  font-size: 40px;
  justify-content: center;
  grid-row-start: 2;
  text-decoration: none;
  color: palevioletred;
  border: 2px solid palevioletred;
  padding: 10px;
}
.hn-backpacking-link:hover{
  color:white;
  background-color:palevioletred;
  border: 2px solid white;
}
.faggio-man {
  width: 200px;
  height: 200px;
  transform: scale(-1, -1);
  grid-row-start: 1;
}
@media (min-width: 768px) {
  .faggio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:none;
  }
  .hn-backpacking-link {
    font-size: 40px;
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .faggio-man {
    width: auto;
    height: auto;
    grid-row-start: 1;
    grid-column-start: 2;
    transform: scale(-1, 1);
  }
}
.quote-2-part-1,
.quote-2-part-2,
.quote-2-part-3 {
  display: flex;
  align-items: center;
}
.first-quote,
.last-quote {
  mix-blend-mode: color-dodge;
  color: grey;
  font-size: 48px;
}
.inspirational-quote {
  display: grid;
  flex-direction: column;
  justify-content: center;
  font-size: 28px;
  height: 100%;
  text-align: justify;
  background-color: white;
  color: #777;
  overflow: hidden;
  padding: 100px 50px;
}
@media (min-width: 768px) {
  .inspirational-quote {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 38px;
    height: 400px;
    padding: 50px 80px;
    text-align: justify;
  }

  .quote-2-part-2 {
    grid-row-start: 2;
    grid-column-start: 2;
  }
  .quote-2-part-3 {
    grid-row-start: 3;
    grid-column-start: 2;
  }
}

.parallax-wrapper {
  height: 100%;
  /* display: flex; */
  flex-direction: column;
}
.parallax-sea-beach {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/sea-beach.jpg");
}
.parallax {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-mountain {
  /* The image used */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/mountains.jpg");
}
.hn-dog-pic {
  /* animation: roll 3s infinite;
  transform: rotate(25deg);
  border-radius: 100px; */
  width: 500px;
  height: auto;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>